.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkContainer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1100px) {
  .navbar {
    flex-direction: row;
    padding-top: 8px;
  }

  .linkContainer {
    justify-content: flex-end;
  }

  .logo {
    display: inline-block;
  }
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    text-decoration: underline;
}

a:hover:not(.active) {
    background-color: #111;
    border-radius: 14px;
}
