.mainGrid {
  display: grid;
  grid-template-columns: 1fr, 40px, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "canvas . palette";
}

.canvas {
  grid-area: "canvas";
}

.palette {
  grid-area: "palette"
}
